@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

body {
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Archivo Black';
}

h1 {
    font-size: 4rem;
    margin: 0.5rem;
    text-shadow: 2px 2px grey;
}

#game-board {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}

table {
    width: 50%;
    font-size: 3rem;
    border: 3px solid black;
}

tr, td{
    border: 1px, solid, black;
    border-radius: 10%;
}

td {
    box-shadow: 1px 1px grey;
    text-shadow: 1px 1px grey;
}

form {
    padding: 1rem;
}

input, 
button {
    padding: 0.5rem;
    border: none;
    font-family: 'Archivo Black';
}

.msg, 
#current-score, 
#high-score,
#num-plays {
    height: 1rem;
    padding: 0.5rem;
}

#game-over-msg,
#empty-msg,
#not-word-msg {
    color: red;
}

#ok-msg {
    color: green;
}